web/bundles/
web/sitemap.*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
nbproject/*
.DS_Store
web/images/public
web/images/cache
web/js/
web/css/
.idea/
.buildpath
.project
.settings/
config/parameters.yml

src/Local/TestBundle/Controller/DefaultController.php
