<section class="section-footer">
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-3">
                <div class="footer-links-holder">
                    <h2>thông tin</h2>
                    <ul>
                        <li><a href="#">về chúng tôi</a></li>
                        <li><a href="{{ path('blog') }}">Blog</a></li>
                        <li><a href="{{ path('contact_us') }}">liên hệ chúng tôi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="footer-links-holder">
                    <h2>facebook</h2>
                    <div class="fb-like-box" data-href="https://www.facebook.com/virgosbeautyau" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-locale="vi_VN"></div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="footer-links-holder">
                    <h2>liên hệ</h2>
                    <p>
                        <strong>Virgos Beauty</strong><br>
                        Sản phẩm làm đẹp và chăm sóc sức khoẻ từ Úc<br>
                        <i class="icon-map-marker"></i> 34A Trần Phú, Ba Đình, Hà Nội<br>
                        <i class="icon-mobile-phone"></i> 098 232 5474
                    </p>
                    <ul class="inline social-icons">
                        <li><a href="https://www.facebook.com/virgosbeautyau" class="icon-facebook"></a></li>
                        <li><a href="https://twitter.com/virgos_beauty" class="icon-twitter"></a></li>
                        <li><a href="http://instagram.com/virgosbeautyau" class="icon-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-copyright">
    <div class="container">
        <div class="copyright pull-left">
            <p>
                Bản quyền <strong> © 2014 Virgos Beauty</strong><br>
                Sản phẩm làm đẹp và chăm sóc sức khoẻ từ Úc
            </p>
        </div>
        <div class="copyright-links pull-right">
            <ul class="inline">
                <li><a href="#">Quyền riêng tư</a></li>
                <li><a href="#">Thoả thuận người dùng</a></li>
                <li><a href="#">site map</a></li>
            </ul>
        </div>
    </div>
</section>