<section class="section-footer">
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-3">
                <div class="footer-links-holder">
                    <h2>thông tin</h2>
                    <ul>
                        <li><a href="#">về chúng tôi</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">liên hệ chúng tôi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="footer-links-holder">
                    <h2>facebook feeds</h2>
                    <ul class="facebook-feeds-holder">
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="footer-links-holder">
                    <h2>liên hệ</h2>
                    <p>
                        Virgos Beauty<br>
                        34A Trần Phú, Ba Đình, Hà Nội<br>
                     (011) 212 222 22
                    </p>
                    <ul class="inline social-icons">
                        <li><a href="#" class="icon-facebook"></a></li>
                        <li><a href="#" class="icon-google-plus"></a></li>
                        <li><a href="#" class="icon-rss"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-copyright">
    <div class="container">
        <div class="copyright pull-left">
            <p>
                Bản quyền <strong> © 2014 Virgos Beauty</strong><br>
                Sản phẩm làm đẹp và chăm sóc sức khoẻ từ Úc
            </p>
        </div>
        <div class="copyright-links pull-right">
            <ul class="inline">
                <li><a href="#">Quyền riêng tư</a></li>
                <li><a href="#">Thoả thuận người dùng</a></li>
                <li><a href="#">site map</a></li>
            </ul>
        </div>
    </div>
</section>