{% extends "VBWebBundle::userArea.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <h3>Thay đổi mật khẩu</h3>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-warning" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>
{% endblock content %}
