{% extends 'VBWebBundle::userArea.html.twig' %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h3>Thay đổi thông tin</h3>
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success"  type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
{% endblock content %}