<ul class="inline top-cat-menu hidden-xs hidden-sm">
    <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
        <a href="{{ path("homepage") }}">Home</a>
    </li>
    {% for item in menu %}
        <li class="{% if item.slug == category.slug %}active{% endif %}">
            <a href="{{ path('product_by_category',{'category':item.slug}) }}">{{ item.name }}</a>
        </li>
    {% endfor %}
</ul>