{% extends '::base.html.twig' %}

{% block container %}
<section class="section-blog-single section-two-columns">
    <div class="container">
        <div class="row-fluid">
            <div class="col-sm-3">
                <div class="sidebar">
                    <div class="widget widget-">

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-list-head">
                    <h1>
                        {{ blog.title }}
                    </h1>
                    <div class="tag-line">
                        {% block product_head_text %}
                            {#Nulla tellus arcu,<br>#}
                            {#fermentum et interdum eu...#}
                        {% endblock product_head_text%}
                    </div>
                </div>
                <div class="blog-content">
                    {{ blog.body |raw }}
                </div>

                <div id="disqus_thread" style="margin-top: 40px">
                </div>
                <script type="text/javascript">
                    var disqus_shortname = 'virgosbeauty';
                    var disqus_identifier = 'blog-{{ blog.id }}';
                    var disqus_config = function () {this.language = 'vi';};

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
{% endblock container %}